$orient: #005480;
$pizazz: #FF9600;
$wild_sand: #f5f5f5;
$astronaut_blue: #003D5D;
$scorpion: #5e5e5e;
$mariner: #3480DA;
$alto: #D5D5D5;

// layout colours
$primary_brand: $orient;
$secondary_brand: $pizazz;
$background_grey: $wild_sand;
$border_colour: $alto;

// font colors
$main_font_colour: $scorpion;
$main_heading_colour: $astronaut_blue;
$link_colour: $mariner;