$arial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$open_sans: 'Open Sans', sans-serif;

$body_font: $arial;
$fancy_heading_font: $open_sans;

// font sizes

$font_size_body: 15px;
$font_size_extra_small: 10px;
$font_size_small: 13px;
$font_size_medium: 16px;
$font_size_large: 18px;